<h2>Examples</h2>

<p>
    Here you can load turf examples. This will clear any existing geometries and editor code.
</p>


<form class='pure-form'>
    <input placeholder="Search..." ng-model='example_search.name' />
</form>

<table class='pure-table pure-table-horizontal'>
    <tr ng-repeat='example in examples.examples | filter:example_search'>
        <td>{{example.name}}</td>
        <td>
            <div ng-click='loadExample(example)' class='pure-button' href='#'>Load</div>
        </td>
    </tr>
</table>
