<h2>Help</h2>

<div class='help-block'>
<h4>What is turf?</h4>
<p>
According to the <a href='https://github.com/turfjs/turf'>turf github</a> page:
</p>
<blockquote>
Turf is a JavaScript library for spatial analysis. It includes traditional spatial operations, helper functions for creating GeoJSON data, and data classification and statistics tools. Turf can be added to your website as a client-side plugin, or you can run Turf server-side with Node.js
</blockquote>
</div>

<div class='help-block'>
<h4>What is turfjs.party?</h4>
<p>
A project designed to let you play around and learn turf in the browser without worrying about setting up the boilerplate code to get started.
</p>
</div>

<div class='help-block'>
<h4>Accessing Geometries</h4>
<p>
Geometries can be accessed in the <em>Editor</em> environment by using the <strong>g</strong> object. If you look at the <em>Geometries</em> tab, you can view and change the name of any feature you've drawn or added.
</p>
</div>

<div class='help-block'>
<h4>Styling Geometries</h4>
<p/>
Geometries will be styled using Leaflet's style options. To set styles in the <em>Editor</em>, add leaflet style options to a feature's properties:
</p>
<pre class='prettyprint'>
g.feature1.properties.color = "#ff00ff";
g.feature1.properties.weight = 2;
</pre>
</div>

<div class='help-block'>
<h4>Problems?</h4>
<p>
This is still a prototype. If you have problems or want to contribute, the project is on <a href='https://github.com/tchannel/turf-playground'>GitHub</a>
</p>
</div>
