<h2>Help</h2>

<h4>Accessing Geometries</h4>
Geometries can be accessed in the <em>Editor</em> environment by using the <strong>g</strong> object. If you look at the <em>Geometries</em> tab, you can view and change the name of any feature you've drawn or added.

<h4>Styling Geometries</h4>
Geometries will be styled using Leaflet's style options. To set styles in the <em>Editor</em>, add a <strong>style</strong> property to a geometry's properties:

<pre class='prettyprint'>g.feature1.properties.style = {color:"#ff00ff", weight:2};
</pre>
