#map {
    position:absolute;
    top:0;
    width:100%;
    bottom:0;
    right:0;
}

#card {
    /*width:300px;*/
    margin: auto;
    padding:16px;
    background-color: #999;
    background: url('card-background.png');
    z-index:1000;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:200px;
}

#card div {
    color:#fff;
    max-width: 350px;
    margin: auto
}

#card div a {
    color: #0078e7;
}

#card div a:visited {
    color: #0078e7;
}
